*{
    box-sizing: border-box;
}
.center{
    text-align: center;
}
.heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 300px;
    margin:auto;
}
